table{
    width: 600px;
    border-collapse: collapse;
    margin: 5% auto;
    border: 2px solid black;
}
.title{
    font-family: Tahoma, sans-serif;
    text-align: center;
    font-weight: 700;
    letter-spacing: -2px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size:25px;
}
.th_1{
    text-align: left;
    height: 30px;
    color: red;
    font-family: Tahoma, sans-serif; 
    text-indent: 7px;
}
.td_1{
    height: 30px;
    margin: right 3px;
    text-indent: 7px;
}
.td_2{
    text-align: right;
    height: 30px; 
    padding-right: 7px;
}
.td_3{
    height: 20px;
    border: 2px solid black;
}
.td_4{
    height: 40px;
    border: 2px solid black;
}
.td_5{
    width: 72px;;
    height: 20px;
    border: 2px solid black;
}